{% extends 'babybuddy/page.html' %}
{% load babybuddy i18n widget_tweaks %}
{% block title %}
    {% blocktrans %}Delete {{ object }}{% endblocktrans %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <a href="{% url 'core:timer-list' %}">{% trans "Timers" %}</a>
    </li>
    <li class="breadcrumb-item fw-bold">
        <a href="{% url 'core:timer-detail' object.id %}">{{ object }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Delete" %}</li>
{% endblock %}
{% block content %}
    {% include 'babybuddy/confirm_delete.html' %}
{% endblock %}
